@use '../../styles/globals' as g;

.main_container{
  position: relative;
  box-sizing: border-box;
  top: g.$mobile-NavBar-height;
  background-color: green;
  width: 100vw;
  height: calc(100vh - g.$mobile-NavBar-height);
  padding: 10px;
  margin-bottom: 60px;
  .container{
    // margin-top: g.$mobile-NavBar-height;
    padding: 0;
    width: 100%;
    height: calc(100vh - (g.$mobile-NavBar-height + 20px));
    // @include g.create-flexbox(column, flex-start);
    // position: relative;
    background-color: yellow;
  }
}


