@use '../../styles/globals' as g;

.main_container {
  box-sizing: border-box;
  position: relative;
  top: g.$mobile-NavBar-height;
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 10px 100px;
  // background-color: rgba(255, 0, 0, 0.279);
  .card_image{
    height: 50vh;
  }
  .offer_info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    width: 100%;
    // background-color: green;
  }
  .card_attr_container{
    width: 100%;
    @include g.create-flexbox(row, flex-start);
    flex-wrap: wrap;
    padding: 10px 0;
    // background-color: red;
  }
  .card_store_data{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    width: 100%;
  }
  .card_item_price{
    padding: 10px 0;
    // background-color: blue;
  }
  .card_link_button{
    width: 800%;
    max-width: 100px;
    .back_button{
      width: 100%;
      height: 25px;
    }
  }
}




// .qc_link {
//   position: absolute;
//   right: 2%;
//   top: 50%;
//   transform: translateY(-50%);
// }

