
@use '../../styles/globals' as g;

.pa_container {
    width: 100vw;
    border-radius: 5px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
}

.pa_item_container {
    width: 100%;
    height: fit-content;
    justify-content: space-between;
    align-items: center;
}

.pa_title {
  margin: 0;
  width: 90%;
  text-align: left;
  color: #00525B;
}
  
.crown_icon {
  color: g.$main-light-color;
}

.qc_link {
  position: absolute;
  right: 2%;
  top: 50%;
  transform: translateY(-50%);
}

.pa_title_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  height: 30px;
}