@use '../../styles/globals' as g;

.card_item_box {
    width: 90%;
    // height: 350px;
    background-color: grey;
    border-radius: 5px;
    box-shadow: 1px 1px 3px g.$grey-color;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    padding: 0;
    // margin: 10px;
    
    .card_item_image {
        max-width: 100%;
        height: 300px !important;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        margin-bottom: 10px;

        // height: 300px; // Altura fija deseada
        // width: 100%; // Ancho completo
        // background-image: url('data.data.image'); // URL de la imagen de fondo
        // background-size: cover; // Cubrir el contenedor
        // background-position: center; // Centrar la imagen de fondo
    }

    .card_item_bottom {
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: left;
        height: 90px;
        // margin-left: 20px;
        // background-color: grey;

        .card_logo {
            box-sizing: border-box;
            background-color: #CA242B;
            color: #fff;
            height: 25vw;
            width: 25vw;
            min-width: 25px;
            min-height: 25px;
            max-width: 50px;
            max-height: 50px;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            padding: 10px;
        }

        .card_item_title_container {
            width: 70%;
            color: g.$grey-color;
            margin: 10px;
            text-align: left;
            // background-color: blue;

            .card_item_title {
                width: 90%;
                color: g.$grey-color;
                margin: 0;
            }
            
            span {
                color: g.$grey-color;
                font-size: small;
            }
        }
    }
    
    .card_item_desc {
        display: flex;
        justify-content: space-between;
        width: 95%;
        height: 40px;
        margin: 0px;
        padding: 10px !important;
        align-items: center;

        .card_tag{
            background-color: g.$green-color-transp;
            color: g.$green-color;
            font-weight: bold;
            height: fit-content;
            padding: 5px;
            border-radius: 5px;

            .tag_icon {
                margin-right: 5px;
            }
        }

        .card_item_price {
            width: 30%;
            color:g.$main-light-color;
            font-weight: 600;
            font-size: 1.3rem;
            text-align: right;
        }
    }
}

// .card_item_details {
// width: 80%;
// text-align: left;
// }

// .card_item_top {
//     display: flex;
//     align-items: center;
// }

// .crown_icon {
//     color: g.$main-light-color;
// }

// .card_item_header {
//     text-align: right;
//     display: flex;
//     justify-content: right;
//     width: 100%;
// }




